
/*---------------------- 基本响应布局单位 -------------------------------*/

$sm: 576px;//768
$md: 768px;//992
$lg: 992px;//1200
$xl: 1200px;//1920

/*---------------------- 主题色 -------------------------------*/
$primary:#409eff;//主色 409eff
$success:#67c23a;//成功
$warning:#e6a23c;//警告
$danger:#f56c6c;//危险
$error:#f56c6c;//错误
$info:#909399;//信息
